{% extends '@woodlets/defaultTemplates/posts/default.twig' %}

{% block postThumbnailsCondition %}{% endblock %}

{% block innerBodyContent %}
    <div class="section narrow large-text">
        {{ parent() }}
    </div>
{% endblock %}
