{% extends '@woodlets/defaultTemplates/list.twig' %}

{% block bodyClass %} blog-list-body{% endblock %}
{% block listArticleThumbnailsCondition %}{% endblock %}
{% block bodyPostThumbnail %}{% endblock %}

{% block innerBody %}
    <div class="blog-content">
        {{ parent() }}
    </div>
    <div class="blog-sidebar">
        {% if woodlets.is_active_sidebar( 'sidebar-1' ) %}
            <ul>
                {{ woodlets.dynamic_sidebar( 'sidebar-1' ) and null }}
            </ul>
        {% endif %}
    </div>
{% endblock %}
